#carrinho-section {
  background-color: #353129;
}

.toast {
  width: 350px;
  margin-top: 10%;
  margin-left: 10%;
  position: absolute
}


/* Quando a largura da tela for menor ou igual a 500px, diminui o tamanho do botão */
@media screen and (max-width: 500px) {

  table td,
  table th {
    font-size: 12px;
  }

  .btn-excluir {
    font-size: 12px;
    padding: 6px 12px;
  }

  .toast {
    width: 300px;
    margin-top: 25%;
    margin-left: 0%;
    position: absolute
  }
}